@import "vars.scss";

@mixin card_border {
    border-radius: 5%;
    box-shadow: $sombra;
}

@mixin buttonsdev ($color,$radius,$background,$border) {
    color: $color;
    border-radius: $radius;
    background-color: $background;
    border: $border solid $color;
}

body{
    overflow-x: hidden;
   
}


.banner{
    max-width: 100%;
}

.contenedor{
    margin: 0;
    padding: 50px 220px 0px 30px;
    z-index: 3;
    align-content:center;

.cards{
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    justify-content: space-between;


.card{
    margin-bottom: 45px;
    width: 450px;
    height: 425px;
    @include card_border;
    background-color: $secondary;

    .portada{
        width: 450px;
        height: 300px;
        @include card_border;
        transition: all 1000ms;


    }
    .footer_card{
        margin-top: 15px;
        margin-left: 20px;
        display: grid;
        grid-template-columns: [first] 70px  [line1] 288px  [line2] 120px  [end];
        grid-template-rows: [start] 50% [end];
    

    .logo2{
        width: 55px;
        height: 55px;
        margin-bottom: 5px;
    }

    .texto_card{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-size: 22px;
        color: black
    }

    .buttons_card{
        .buttondev {

            height: 3em;
            border-radius: 1em;
            font-size: 15px;
            font-family: inherit;
            color: $secondary;
            border: 4px solid $golden;
            position: relative;
            overflow: hidden;
            z-index: 1;
            background-color: $primary;
            
           }
           
           .buttondev::before {
            content: '';
            width: 0;
            height: 3em;

            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(to right, $golden 0%, $golden 100%);
            transition: .5s ease;
            display: block;
            z-index: -1;
           }
           
           .buttondev:hover::before {
            width: 9em;
           }
        
        
     }
    }
}
}

.portada:hover{
    transform: scale(1);
    filter: brightness(.6);
}

}


@media only screen and (max-width: 797px) {
    .footer_card{
        margin-top: 40px !important;
    }
    .card{
        width: 550px !important;
        height: 650px !important;
        
       }

       .portada{
            width: 550px !important;
            height: 550px !important;
       }

       .footer_card{
        grid-template-columns: [first] 50px [line2] 350px  [line3] 180px [line4] 150px  [end] !important;
       }


}

@media only screen and (max-width: 576px) {


  
    .card{
        width: 450px !important;
        
       }

       .portada{
            width: 450px !important;
       }

       .footer_card{
        grid-template-columns: [first] 50px [line2] 270px  [line3] 180px [line4] 150px  [end] !important;
       }

}

.h1_port{
    color: $secondary;
   text-align: center;

    box-shadow: $sombra;
    font-size: 35px;
}

hr.style1{
	border-top: 1px solid $golden;
    margin-left: 250px;
    margin-right: 250px;
}

hr.style2{
	border-top: 1px solid $golden;

}

