@import "vars.scss";
@import "cards.scss";




@mixin items ($grid_colum,$grid_row,$text_align,$margin_top,$justify) {
  grid-column: $grid_colum;
  grid-row: $grid_row;
  text-align: $text_align;
  margin-top: $margin_top;
  justify-self: $justify;
}

    .title {
      text-align:center;
      padding: 40px 0;
      font-size: 40px;
      font-weight: 300;
      color: $primary;
    }


  .container {
    background-color: $secondary;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100vw;
    height: 60px;
    margin-top: -8px;
    display: flex;
    z-index: 1;


    .logo {
      padding: 5px;
      margin-left:10px;
      margin-right: 10px;
    }

    .logo img{

        width: 55px;
        height: 55px;
    }

    .search {
      background-color: rgb(223, 223, 223);
      height: 2.2rem;
      font-family: $fuente_primaria;
      border-radius: 10px;
      width: 67vw;
      padding: 5px;
      margin-top: 10px;
        
      input[type=text] {
        box-shadow: none;
        font-weight: 600;
        font-size: 14px;
        margin: 0;
        overflow: hidden;
        outline: none;
      }
    }
 
  
    .navbar {

      justify-content: space-evenly;    
      display: grid;
      grid-template-columns:50px[start] 130px [first] 130px [line2] 130px  [line3] 130px  [end];
      grid-template-rows: [start] 90% [end];
      height: 70px;
      max-width: 100%;
      min-height: 40px;
      z-index: 2;


  
    .item1 {
      @include items(start / first,start/end ,justify ,5px , stretch);
      margin-left: 5px;
      font-weight: 600;
      font-size: 15px;
      text-align: justify;
      transition: all 1000ms;
    
        
    }

    .item2 {
      @include items(first / line2,start/end ,justify ,5px , stretch);
      font-size: 15px;
      font-weight: 600;
      transition: all 1000ms;
    }

    .item3 {
      @include items(line2 / line3,start/end ,justify ,5px , stretch);
      transition: all 1000ms;
    }

    }
    
    .button1{
      @include buttonsdev($secondary,10px,$primary,2px);
      padding: 15px;
      text-align: center;
      font-size: 14px;
      box-shadow: $sombra;
      width: 100px;
      transition: all 1000ms;
    }

    .button2{
      @include buttonsdev($primary,10px,$secondary,2px);
      padding: 15px;
      text-align: center;
      box-shadow: 0 4px 20px 0 rgb(0 0 0 / 5%);
      transition: all 1000ms;
    }
  }

  
  .item1 button:hover {
    transition: all 1000ms;
    background-color: $golden;
    color: $primary;
    font-size: 15px;
  }

  .item2 button:hover {
    transition: all 1000ms;
    background-color: $golden;
    color: $primary;
    font-size: 15px;
  }


  .item3 button:hover {
    transition: all 1000ms;
    background-color: $golden;
    color: $primary;
    font-size: 15px;
  }

  @media only screen and (max-width: 797px) {
    
    .navbar{

      margin-left: 10px;
      grid-template-columns: [first] 60px [line2] 80px  [line3] 80px [line4] 150px  [end] !important;
    
        .item1{
          font-size: 14px !important;
        }

        .item2{
          font-size: 14px !important;
        }
    }


}



  @media only screen and (max-width: 576px) {
    .container{
      position:absolute ;
    }
    .user_icon{
      justify-content: space-evenly;    
      display: grid;
      grid-template-columns: [first] 15px [end];
      grid-template-rows: [start] 90% [end];
      margin-top: 16px;
      .user{
        width: 35px;
        height: 35px;
      }
    }
  
    .item1 {
      display: none;
    }
    
    .item2 {
      display: none;
    }

    .item3{
      display: none;
    }

    .item4{
      display: none;
    }
   
  }

  