@import "vars.scss";

.fade{
    height: 5px;
	border: 5px solid $primary;

  }

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
	background: $dark;
	font-size:22px;
	line-height: 32px;
	color: $secondary;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	}

a {
	color: $secondary;
}

#menus {

	margin: 0 auto;
}

p {
	text-align: center;
}

nav {

	margin: 20px 0;
	
}

nav ul {

	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:$secondary;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: $golden; 
}

nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
}
	
nav ul li:hover > ul {
	display:inherit;
}
	
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}
