
$primary: #0c0c0c;

$secondary: #ffffff;

$text_dark: #000;

$dark: #313131;

$gray: #ccc;

$rojo: rgb(220, 17, 17);

$golden: #BF9A03;

$sombra: 0 4px 20px 0 rgb(0 0 0 / 5%);

$fuente_primaria:'Source Sans Pro', sans-serif;
